<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>



<nav style="margin: 10px;">
  <button 
    style="margin: 10px;"
    mat-raised-button color="primary" 
    matBadgePosition="before" 
    matBadgeColor="accent"
    routerLink="/list" 
    routerLinkActive="active">
  List
  </button>
  <button 
    style="margin: 10px;"
    mat-raised-button color="primary" 
    matBadgePosition="before" 
    matBadgeColor="accent"
    routerLink="/add-new" 
    routerLinkActive="active">
  + New 
  </button>
</nav>
<router-outlet style="margin: 10px;"></router-outlet>